<div class="sb-nav-fixed">
    <app-top-bar></app-top-bar>
  
    <div id="layoutSidenav">
      <app-side-bar></app-side-bar>
  
      <!-- CONTENT-->
  
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h2 style="color: black">utilisateurs</h2>
            <div>
              <div
                class="modal fade bd-example-modal-sm"
                tabindex="-1"
                role="dialog"
                aria-labelledby="mySmallModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">...</div>
                </div>
              </div>
              <table class="fl-table">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <button
                      class="btn btn-danger mx-2"
                      style="color: white"
                      (confirm)="delete(user._id, i)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    </td>
                  </tr>
                </tbody>
  
                <tbody></tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  