<!-- SIDEBAR -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark  bg" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">menu</div>
          <a class="nav-link my-2" routerLink="/dashboard">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Tableau de bord
          </a>
          <a class="nav-link" routerLink="/users">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-user-gear"></i>
            </div>
            Utilisateurs
          </a>
          <a class="nav-link" routerLink="/boisson-list">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-box-archive"></i>
            </div>
            boisson
          </a>
          <a class="nav-link" routerLink="/food-list">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-person-chalkboard"></i>
            </div>
            Food
          </a>
          <a class="nav-link" routerLink="/cofe-list">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-book"></i></div>
            nos-cofes
          </a>
          <a class="nav-link" routerLink="/messages">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Messages
          </a>
        </div>
      </div>
    </nav>
  </div>

</div>