<div class="sb-nav-fixed">
    <app-top-bar></app-top-bar>
  
    <div id="layoutSidenav">
      <app-side-bar></app-side-bar>
  
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Articles</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Modiifer l'article</li>
            </ol>
  
            <form [formGroup]="myForm">
              <div>
                <img
                  [src]="imageUrl"
                  class="image-fluid article-image"
                  alt=""
                  style="width: 150px"
                />
  
                <div class="form-group">
                  <input
                    type="file"
                    class="form-control upload-input"
                    (change)="save($event)"
                    id="customFile"
                  />
                </div>
              </div>
              <div class="input-sec">
                <div class="form-group">
                  <div>
                    <label for="articleName " class="mt-3"
                      >Le titre d'article :</label
                    >
                  </div>
                  <input
                    type="text"
                    class="form-control article-input"
                    formControlName="titre"
                    id="articleName"
                  />
                  <div *ngIf="titre?.invalid && titre?.touched">
                    <small *ngIf="titre?.errors?.['required']" class="text-danger"
                      ><b>titre est requis</b><br
                    /></small>
                    <small
                      *ngIf="titre?.errors?.['minlength']"
                      class="text-danger"
                      ><b> titre incorrect</b><br
                    /></small>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <label for="content " class="mt-3"
                      >le contenu de l'article :</label
                    >
                  </div>
                  <textarea
                    type="text"
                    class="form-control article-input"
                    formControlName="content"
                    id="content"
                    rows="10"
                  ></textarea>
                  <div *ngIf="content?.invalid && content?.touched">
                    <small
                      *ngIf="content?.errors?.['required']"
                      class="text-danger"
                      ><b>Contenu est requis</b><br
                    /></small>
                    <small
                      *ngIf="content?.errors?.['minlength']"
                      class="text-danger"
                      ><b> Contenu incorrect</b><br
                    /></small>
                  </div>
                </div>
              </div>
            </form>
            <button
              class="btn btn-primary mt-2"
              style="color: white"
              (confirm)="update()"
            >
              modifier
            </button>
          </div>
        </main>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  