<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns=".\assets\images\Asset 3.svg"
                                    xmlns:xlink=".\assets\images\Asset 3.svg">
                                </svg>
                                <img src=".\assets\images\Asset 3.svg" class="img-fluid" alt="">
                            </span>
                            <span class="app-brand-text demo text-body mt-5 fw-bolder">Break</span>
                        </a>
                    </div>

                    <!-- /Logo -->
                    <h4 class="mb-2">Adventure starts here 🚀</h4>
                    <p class="mb-4">Make your app management easy and fun!</p>

                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="col-12">
                            <div class="form-floating">
                                <p for="file">Import Your Image : <input type="file" class="form-control-file" id="file"
                                        formControlName="file" (change)="save($event)"> </p>
                                <div *ngIf="file?.invalid && file?.touched">
                                    <small *ngIf="file?.errors?.['required']" class="text-danger">image
                                        required<br></small>

                                </div>
                            </div>
                        </div>

                        <hr class="my-0" />
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="firstname" class="form-label">firstname</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                        placeholder="Enter your firstname" formControlName="firstname" autofocus />
                                    <div *ngIf="firstname?.invalid && firstname?.touched">
                                        <small *ngIf="firstname?.errors?.['required']" class="text-danger">Firstname
                                            required<br></small>
                                        <small *ngIf="firstname?.errors?.['pattern']" class="text-danger"> invalid
                                            Firstname<br></small>
                                        <small *ngIf="firstname?.errors?.['minlength']" class="text-danger">Firstname
                                            should
                                            contains 2 chars at least<br></small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="lastname" class="form-label">lastname</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                        placeholder="Enter your lastname" formControlName="lastname" autofocus />
                                    <div *ngIf="lastname?.invalid && lastname?.touched">
                                        <small *ngIf="lastname?.errors?.['required']" class="text-danger">lastname
                                            required<br></small>
                                        <small *ngIf="lastname?.errors?.['pattern']" class="text-danger"> invalid
                                            lastname<br></small>
                                        <small *ngIf="lastname?.errors?.['minlength']" class="text-danger">Lastname
                                            should
                                            contains 2 chars at least<br></small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                        placeholder="Enter your email" formControlName="email" />
                                    <div *ngIf="firstname?.invalid && email?.touched">
                                        <small *ngIf="email?.errors?.['required']" class="text-danger">email
                                            required<br></small>
                                        <small *ngIf="email?.errors?.['email']" class="text-danger"> invalid
                                            email<br></small>
                                    </div>
                                </div>
                                <div class="mb-3 form-password-toggle">
                                    <label class="form-label" for="password">Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control" name="password"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="password" formControlName="password" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                    <div *ngIf="password?.invalid && password?.touched">
                                        <small *ngIf="password?.errors?.['required']" class="text-danger">password
                                            required<br></small>
                                        <small *ngIf="password?.errors?.['minlength']" class="text-danger">invalid
                                            password<br></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Enter your phone" formControlName="phone" />
                                    <div *ngIf="phone?.invalid && phone?.touched">
                                        <small *ngIf="phone?.errors?.['required']" class="text-danger">phone
                                            required<br></small>
                                        <small *ngIf="phone?.errors?.['pattern']" class="text-danger"> invalid
                                            phone<br></small>
                                        <small *ngIf="phone?.errors?.['minlength']" class="text-danger">phone should
                                            contains 2 chars at least<br></small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="adress" class="form-label">adress</label>
                                    <input type="text" class="form-control" id="adress" name="adress"
                                        placeholder="Enter your adress" formControlName="adress" />
                                    <div *ngIf="adress?.invalid && adress?.touched">
                                        <small *ngIf="adress?.errors?.['required']" class="text-danger">adress
                                            required<br></small>
                                        <small *ngIf="adress?.errors?.['pattern']" class="text-danger"> invalid
                                            adress<br></small>
                                        <small *ngIf="adress?.errors?.['minlength']" class="text-danger">adress should
                                            contains 2 chars at least<br></small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="state" class="form-label">state</label>
                                    <input type="text" class="form-control" id="state" name="state"
                                        placeholder="Enter your state" formControlName="state" />
                                    <div *ngIf="firstname?.invalid && state?.touched">
                                        <small *ngIf="state?.errors?.['required']" class="text-danger">state
                                            required<br></small>
                                        <small *ngIf="state?.errors?.['state']" class="text-danger"> invalid
                                            state<br></small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="zipe" class="form-label">zipe</label>
                                    <input type="text" class="form-control" id="zipe" name="zipe"
                                        placeholder="Enter your zipe" formControlName="zipe" />
                                    <div *ngIf="firstname?.invalid && zipe?.touched">
                                        <small *ngIf="zipe?.errors?.['required']" class="text-danger">zipe
                                            required<br></small>
                                        <small *ngIf="zipe?.errors?.['zipe']" class="text-danger"> invalid
                                            zipe<br></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <button class="btn btn-primary d-grid w-100" >Sign up</button>
                    </form>

                    <p class="text-center">
                        <span>Already have an account?</span>
                        <a routerLink="/login">
                            <span>Sign in instead</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>