<div class="divider"></div>
<footer class="footer">
    <div class="footer-container">
      <div class="social">
        <a href="https://spotify.com">
          <img src="./../../../assets/images/social-spotify.svg" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="./../../../assets/images/social-facebook.svg" alt="" />
        </a>
        <a href="https://pinterest.com">
          <img src="./../../../assets/images/social-pinterest.svg" alt="" />
        </a>
        <a href="https://instagram.com">
          <img src="./../../../assets/images/social-instagram.svg" alt="" />
        </a>
        <a href="https://youtube.com">
          <img src="./../../../assets/images/social-youtube.svg" alt="" />
        </a>
        <a href="https://twitter.com">
          <img src="./../../../assets/images/social-twitter.svg" alt="" />
        </a>
      </div>
      <p>© 2022 Break Coffee Company. All rights reserved.</p>
    </div>
  </footer>