<app-navbar></app-navbar>
<div class="container my-5">
    <strong>Téléchargez notre application aujourd'hui et rejoignez Break Rewards pour obtenir des boissons gratuites et
        recevoir des offres exclusives.</strong>
    <div class="divider"></div>
    <div class="row my-5">
        <div class="col-3 ms-5"> <img src="../../../../assets/images/undraw_Download_re_li50.png" style="height: 200px;"
                class="img-fluid" alt="">
        </div>
        <div class="col-6 my-5 mx-2">
            <h6>Téléchargez</h6>
            <p>Break depuis votre app store</p>
        </div>

    </div>
    <div class="divider"></div>
    <div class="row my-5">
        <div class="col-3 ms-5"> <img src="../../../../assets/images/undraw_Mobile_login_re_9ntv.png" style="height: 200px;"
                class="img-fluid" alt="">
        </div>
        <div class="col-6 my-5 mx-2">
            <h6>create account</h6>
            <p>votre compte</p>
        </div>

    </div>
    <div class="divider"></div>
    <div class="row my-5">
        <div class="col-3 ms-5"> <img src="../../../../assets/images/undraw_Delivery_address_re_cjca.png" style="height: 200px;"
                class="img-fluid" alt="">
        </div>
        <div class="col-6 my-5 mx-2">
            <h6>gere votre ordre</h6>
            <p>de boissons gratuites</p>
        </div>

    </div>
    <div class="divider"></div>
    <div class="row my-5">
        <div class="col-3 ms-5"> <img src="../../../../assets/images/undraw_Delivery_address_re_cjca.png" style="height: 200px;"
                class="img-fluid" alt="">
        </div>
        <div class="col-6 my-5 mx-2">
            <h6>add your address</h6>
            <p>fast delivrey</p>
        </div>

    </div>
    <div class="divider"></div>
    <div class="row my-5">
        <div class="col-3 ms-5"> <img src="../../../../assets/images/undraw_Super_thank_you_re_f8bo.png" style="height: 200px;"
                class="img-fluid" alt="">
        </div>
        <div class="col-6 my-5 mx-2">
            <h6>thanks</h6>
            <p>thank you for your confiance</p>
        </div>

    </div>

</div>
<app-footer></app-footer>