<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row my-5">
        <div class="col-6">


            <div class="card mb-3 my-5">
                <img src="https://www.starbucks.fr/sites/starbucks-fr/files/styles/c06_cards_grid_560x321/public/2020-09/617797%20Starbucks%20Rewards%20France_Header_v01_Drinks.jpg.webp?itok=kQ2gTWFz"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Boissons</h5>
                    <p class="card-text"> Des cafés surprenants issus du monde entier. Des boissons préparées devant
                        vous, à découvrir
                        et à savourer.</p>
                    <p class="card-text"><button type="button" class="btn btn-outline-success" [routerLink]="['/boissons']">Boissons</button></p>
                </div>
            </div>

        </div>
        <div class="col-6">


            <div class="card mb-3 my-5">
                <img src="https://www.starbucks.fr/sites/starbucks-fr/files/styles/c06_cards_grid_560x321/public/2020-09/617797%20Starbucks%20Rewards%20France_Header_v01_FoodB.jpg.webp?itok=iztPEMi9"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Food</h5>
                    <p class="card-text"> Nos pâtisseries et sandwiches sont fabriqués à partir d’ingrédients
                        simples de qualité
                        supérieure.</p>
                    <p class="card-text"><button type="button" class="btn btn-outline-success" [routerLink]="['/food']">Food</button></p>
                </div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>